<%= link_to post_path(@post.slug), class: "flex flex-col p-4 text-secondary rounded-lg border-4 border-secondary hover:border-accent cursor-pointer" do %>
  <span class="font-linotte text-2xl">
    <%= @post.title %>
  </span>
<% end %>
