<% content_for :head do %>
  <% if @post.content.include? "+hljs" %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/atom-one-dark.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
  <% end %>
<% end %>

<div class="container flex flex-col gap-18 p-6 mx-auto">
  <div class="flex justify-between text-secondary">
    <%= link_to edit_post_path(@post.id) do %>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="w-9 h-9" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M3 17.46v3.04c0 .28.22.5.5.5h3.04c.13 0 .26-.05.35-.15L17.81 9.94l-3.75-3.75L3.15 17.1c-.1.1-.15.22-.15.36zM20.71 5.63l-2.34-2.34a.996.996 0 0 0-1.41 0l-1.83 1.83l3.75 3.75l1.83-1.83a.996.996 0 0 0 0-1.41z"></path></svg>
    <% end %>
    <h1 class="font-linotte text-2xl text-secondary">
      (Preview)
    </h1>
  </div>
  <%= render(PostHeaderComponent.new(post: @post)) %>
  <%= render(MarkdownViewerComponent.new(md_content: @post.content)) %>
</div>
