@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: Linotte;
  src: url("Linotte.otf");
}

.redcarpet > *:first-child {
  @apply mt-0
}

.redcarpet > *:last-child {
  @apply mb-0
}

.redcarpet h1 {
  @apply pb-2.5 mt-9 mb-6 font-linotte text-4xl text-secondary border-b border-b-secondary
}

.redcarpet h2 {
  @apply pb-2 mt-7 mb-6 font-linotte text-3xl text-secondary border-b border-b-secondary
}

.redcarpet h3 {
  @apply mt-6 mb-6 font-linotte text-2xl text-secondary
}

.redcarpet p {
  @apply mb-6 font-noto text-xl leading-normal text-secondary
}

.redcarpet p code {
  @apply px-1.5 py-0.5 font-inconsolata text-lg bg-secondary/10
}

.redcarpet a {
  @apply hover:text-accent underline underline-offset-2
}

.redcarpet pre {
  @apply overflow-x-auto mb-6 text-secondary rounded
}

.redcarpet pre code {
  @apply font-inconsolata text-xl
}

.redcarpet ol {
  @apply pl-8 mb-6 font-noto text-xl list-decimal text-secondary
}

.redcarpet ul {
  @apply pl-8 mb-6 font-noto text-xl list-disc text-secondary
}

.redcarpet img {
  @apply mx-auto mb-3
}

.redcarpet img + em {
  @apply block mx-auto mb-6 not-italic text-center text-secondary
}
